@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-1{
    height: 95vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
.container-1 h1{
    font-size: x-large;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
h2{
    font-family: "Poppins", sans-serif;
    font-size: medium;
}
.workers-list{
    height: fit-content;
    border: 1px solid rgb(0, 0, 0);
    margin-inline: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.add-newworker-btn button{
    background-color: rgb(41, 171, 41);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.7rem;
    font-weight: bold;
}
.all-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-2{
    width: 78vw;
    height: 95vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-image: url(img/stncrs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.2rem;
}
.zone-1-a{
    width: 28.4rem;
    height: 13.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-left: 0.44rem;
}
.zone-1-b{
    width: 28.4rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-top: 2rem;
    margin-left: 0.44rem;
}
.zone-container-1{
    width: 28.4rem;
    height: 41.7rem;
}
.zone-container-2{
    width: 33.8rem;
    height: 42.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.zoneoff-2-2{
    display: flex;
    justify-content: space-between;
}
.zoneoff-2-1{
    display: flex;
    justify-content: space-between;
}
.zone-1-1{
    width: 16rem;
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    
}
.zone-1-2{
    width: 16.6rem;
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.zone-2-1{
    width: 16rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-left: 0.4rem;
}
.zone-2-2{
    width: 16.6rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.5rem;
}
.aa-workers{
    display: flex;
    height: 7rem;
    width: 16rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.btn-add-to-zone{
    background-color: #3a3abc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    width: 2.3rem;
}
.ab-workers{
    display: flex;
    height: 14rem;
    width: 16rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.abb-workers{
    display: flex;
    height: 8rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.abc-workers{
    display: flex;
    height: 8rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.bab-workers{
    display: flex;
    height: 9rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.bac-workers{
    display: flex;
    height: 9rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}