@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: antiquewhite;
}
*{
    font-family: "Poppins", sans-serif;
}
.container-1{
    height: 95vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
.container-1 h1{
    font-size: x-large;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
h2{
    font-family: "Poppins", sans-serif;
    font-size: medium;
}
.workers-lists{
    height: fit-content;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    margin-inline: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.add-newworker-btn button{
    background-color: rgb(41, 171, 41);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.7rem;
    font-weight: bold;
}
.all-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-2{
    width: 78vw;
    height: 95vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-image: url(img/stncrs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.2rem;
}
.zone-1-a{
    margin-top: 0.7rem;
    width: 28.4rem;
    height: 13.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-left: 0.44rem;
}
.zone-1-b{
    width: 28.4rem;
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.2rem;
    margin-left: 0.44rem;
}
.zone-container-1{
    width: 28.4rem;
    height: 41.7rem;
}
.zone-container-2{
    width: 33.8rem;
    height: 42.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.zoneoff-2-2{
    display: flex;
    justify-content: space-between;
}
.zoneoff-2-1{
    display: flex;
    justify-content: space-between;
}
.zone-1-1{
    width: 16rem;
    margin-left: 0.1rem;
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    
}
.zone-1-2{
    width: 16.6rem;
    margin-right: 0.5rem;
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.zone-2-1{
    width: 16rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-left: 0.4rem;
}
.zone-2-2{
    width: 16.6rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-right: 0.4rem;
}
.aa-workers{
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    width: 30rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.btn-add-to-zone{
    background-color: #3a3abc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    width: 2.3rem;
}
.ab-workers{
    display: flex;
    flex-wrap: wrap;
    height: 14rem;
    width: 26rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;

    
}
.abb-workers{
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.abc-workers{
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.bab-workers{
    display: flex;
    flex-wrap: wrap;
    height: 9rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
.bac-workers{
    display: flex;
    flex-wrap: wrap;
    height: 9rem;
    width: 13rem;
    /* background-color: rgb(238, 230, 221); */
    border-radius: 10px;
}
#form-section{
    display: none;
    background-color: rgb(93, 98, 103);
    width: 30rem;
    height: 40rem;
    position: absolute;
    inset: 0;
    margin-left: 34%;
    margin-top: 3.36%;
    overflow: auto;
    border-radius: 10px;
}
#formulaire-id{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    height: 20rem;
    margin-left: 1rem;
}
.eachform{
    display: flex;
    flex-direction: column;
}
.pre-img{
    border: 1px solid black;
    margin-top: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 50%; 
}
.firstform{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 42rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: darkgrey;
    border-radius: 10px;
}
.secondform{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-inline: 0.6rem;
}
.thirdform{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-inline: 0.6rem;
}
.secondform h2{
    font-size: x-large;
    margin-bottom: 0;
}
label{
    font-weight: bold;
}
input{
    height: 1.8rem;
    border-radius: 6px;
    border: none;
}
#worker-role{
    height: 2.4rem;
    border-radius: 6px;
    border: none;
}
.btn-add-exp{
    background-color: rgb(126, 148, 39);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.7rem;
    font-weight: bold;
}
#closedetail{
    background-color: rgb(211, 9, 19);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: bold;
    width: 20rem;
}
.closedet{
    display: flex;
    justify-content: center;
    align-items: end;
}
#sub-worker{
    background-color: rgb(31, 91, 12);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: bold;
    width: 20rem;
}
.add-to-list{
    display: flex;
    justify-content: center;
    
}
#closemodal{
    background-color: rgb(196, 1, 1);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: bold;
    width: 3rem;
}
.close{
    display: flex;
    justify-content: end;
    padding-inline: 2rem;
}
.worker-details{
    display: none;
    background-color: rgb(93, 98, 103);
    width: 30rem;
    height: 40rem;
    position: absolute;
    inset: 0;
    margin-left: 34%;
    margin-top: 3.36%;
    overflow: auto;
    border-radius: 10px;
    /* display: none;
    background-color: rgb(93, 98, 103);
    width: 30rem;
    height: fit-content;
    position: absolute;
    inset: 0;
    margin-left: 34%;
    overflow: scroll;
    border-radius: 10px; */
}
.img-indetails{
    border: 1px solid black;
    margin-top: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
}
.header-details{
    display: flex;
    justify-content: space-around;
    height: 12rem;
}
.worker-namerole{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-details{
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0.7rem;
    padding: 10px;
}
.exp-details{
    border: 1px solid black;
    height: fit-content;
    border-radius: 10px;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0.7rem;
    padding: 10px;
}
h3{
    margin-left: 0.8rem;
}
#btndetails{
    background-color: rgb(54, 41, 171);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-remove{
    background-color: rgb(227, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btndelete{
    background-color: rgb(233, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-btn{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-left: 1rem;
    
}
.workers-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.workers-toadd{
    display: none;
    background-color: rgb(93, 98, 103);
    width: 30rem;
    height: 30rem;
    position: absolute;
    inset: 0;
    margin-left: 34%;
    margin-top: 3.36%;
    overflow: auto;
    border-radius: 10px;
    /* display: none;
    width: 30rem;
    height: fit-content;
    position: absolute;
    top: 33%;
    left: 33%;
    background-color: rgb(93, 98, 103);
    border-radius: 10px; */
}
#closeas{
    background-color: rgb(211, 9, 19);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: bold;
    width: 20rem;
}
.diclose{
    display: flex;
    justify-content: center;
}
.workers-abt-assign{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.fixed-card{
    height: 1.5rem;
    width: 9rem;
}
.rrrole{
    font-size: small;
}
.nnname{
    font-size: small;
}